{% extends '@!EasyAdmin/page/login.html.twig' %}

{% block header_logo %}
    <div class="text-center mt-5 mb-4">
        {{ include('admin/_includes/logo.html.twig') }}
    </div>
    {{ parent() }}
{% endblock %}

{% block head_favicon %}
    {{ include('admin/_includes/favicon.html.twig') }}
{% endblock %}

{% block login_form_wrapper %}
    {{ parent() }}
    {% if enable_oauth %}
        <a role="button" href="{{ path('hwi_oauth_service_redirect', { service: "default" }) }}"
           class="mt-2 btn btn-secondary btn-block btn-lg">
            {{ oauth_button_text }}
        </a>
    {% endif %}

    {% include 'admin/_includes/login_footer.html.twig' %}
{% endblock %}
