{% extends '@EasyAdmin/page/content.html.twig' %}

{% form_theme form '@EasyAdmin/crud/form_theme.html.twig' %}

{% block content_title %}{% endblock %}
{% block page_title %}Change password{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title mb-0">
                        <i class="fa fa-key me-2"></i>Change Password
                    </h4>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'change-password-form'}}) }}

                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.currentPassword) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.newPassword) }}
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 d-flex justify-content-end gap-2">
                            <a href="{{ ea_url().setRoute('admin') }}" class="btn btn-secondary">
                                <i class="fa fa-times me-1"></i>Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save me-1"></i>Change Password
                            </button>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

