{% extends '@EasyAdmin/default/layout.html.twig' %}

{% form_theme form with '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}

{% block content_title %}DKIM settings for domain {{ domain.entity.name }}{% endblock %}
{% block body_class %}edit{% endblock %}

{% block main %}
    <div class="well">
        <p>
            If you enable DKIM for this domain, all outgoing mails will have a DKIM signature attached.
            You should set up the DNS record before doing this.
        </p>

        <p>
            After you have generated a private key, a DNS record is provided that needs to be added to
            your domain's zone.
        </p>
    </div>

    {% if domain.status.dkimEnabled and (not domain.status.dkimRecordFound or not domain.status.dkimRecordValid) %}
        {% set alert_context = 'danger' %}
        {% set alert_text %}
            DKIM is enabled but not properly set up. Your mails may be dropped on the receivers side. Check your DNS settings.
        {% endset %}
    {% endif %}

    {% if not domain.status.dkimEnabled %}
        {% set alert_context = 'info' %}
        {% set alert_text %}
            {% if domain.status.dkimRecordFound and domain.status.dkimRecordValid %}
                DKIM is set up properly and can now be enabled.
            {% else %}
                DKIM is disabled.
            {% endif %}
        {% endset %}
    {% endif %}

    {% if domain.status.dkimEnabled and domain.status.dkimRecordFound and domain.status.dkimRecordValid %}
        {% set alert_context = 'success' %}
        {% set alert_text %}
            Well done! DKIM is set up properly.
        {% endset %}
    {% endif %}

    {% if alert_text is not empty %}
        <div class="alert alert-{{ alert_context }}" role="alert">
            {{ alert_text }}
        </div>
    {% endif %}

    {% block entity_form %}
        {{ form(form) }}
    {% endblock entity_form %}

    {% if domain.entity.dkimSelector is not empty and domain.entity.dkimPrivateKey is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading">DNS settings</div>


            <table class="table">
                <tr>
                    <td>Domain</td>
                    <td>{{ domain.entity.dkimSelector }}._domainkey.{{ domain.entity.name }}</td>
                </tr>

                <tr>
                    <td>Type</td>
                    <td>TXT</td>
                </tr>

                <tr>
                    <td>Current value</td>
                    <td>
                        <pre style="word-break: break-all">{{ domain.status.currentRecord }}</pre>
                    </td>
                </tr>

                {% if expectedDnsRecord %}
                    <tr>
                        <td>Expected value</td>
                        <td>
                            <pre>{{ expectedDnsRecord }}</pre>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endif %}
{% endblock %}
